.cmano-links{
	display:inline-block;padding: 6px 20px;
}
#cmano-panel{
      position: absolute;
        top: 100px;
        left: 70%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 6px 15px;
        border: 1px solid #999;
        font-size:12px;
        select {width:500px;}
        span{vertical-align: super; margin-left:12px;}
}
#map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
        position:inherit !important;
      }
.code-sample{
    margin:2rem 0;
}      