// inst designer
#cmano-panel{
      position: absolute;
        top: 100px;
        left: 70%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 6px 15px;
        border: 1px solid #999;
        font-size:12px;
        select {width:500px;}
       }
#map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
        position:inherit !important;
      }
// home page
.cmano-links{
    display:inline-block;padding: 6px 20px;
}
.code-sample{
    margin-top:4rem;
    figure{margin-top:1rem;}
}    
.code-author{
    font-size:small;
    a{text-decoration:none;}
}  
.code-info{
    font-size: 1.25rem;
    }
.clearMap{
   float: right;
    padding: 4px 12px 0 0;
}    
.chromeRec {
    vertical-align: super;
}
